<p>Hi <%= @user.first_name || 'Visitor' %>,</p>

<p>You have a voted for <%= link_to @topic.title, @topic %>.</p>

<p>It has <%= pluralize(@topic.votes.count, 'vote') %>.</p>

<p>Thanks for using the <%= link_to 'app', root_url %>!</p>

<p>-Suggestotron</p>

